<div>
	Dear {{TaskManagerName}}
	<br />
	<br />

	{{ProjectPartnerName}} has rejected your inputs that CTM were not used in the {{TaskCode}}. Kindly discuss and provide the information.

	<br />
	<br />

	Click  <a href='{{ApplicationUrl}}' target="" _blank="">here</a> to provide the inputs.
	<br />
	<br />
	Thank you
</div>