<div>
	Dear {{ProjectPartnerName}}
	<br />
	<br />

	{{TaskManagerName}} has indicated that CTM was not prepared during the {{TaskCode}}. Please review and approve the response.

	<br />
	<br />

	Click  <a href='{{ApplicationUrl}}' target="" _blank="">here</a> to provide the inputs.
	<br />
	<br />
	Thank you
</div>